.row {
    margin: 40px;
}

.quote {
	background-color: #0EBEFF;
    margin: 25px;
    font-family: sans-serif;
    font-style: italic;
    font-size: 24px;
    padding: 20px;
    border-radius: 10px;
}

#quote1 {
    width: 70%;
	float: left;
}

#quote2 {
    width: 70%;
	float: right;
}

